version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: adminpassword
      POSTGRES_DB: hms_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

  minio:
    image: minio/minio
    ports:
      - "9000:9000"
      - "9001:9001"
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin

  orthanc:
    image: jodogne/orthanc-plugins
    container_name: hms_pacs
    ports:
      - "4242:4242"  # DICOM Port
      - "8042:8042"  # HTTP Port
    volumes:
      - orthanc_storage:/var/lib/orthanc/db
      - ./orthanc-config/orthanc.json:/etc/orthanc/orthanc.json:ro
    environment:
      ORTHANC_NAME: "HMS_PACS"
    depends_on:
      - postgres 
    restart: unless-stopped

volumes:
  postgres_data:
  orthanc_storage:
